<!DOCTYPE html>
<html>
  <head>
    <title>RevasApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
          <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
          <a class="navbar-brand" href="#">Revas Admin Manager</a>
          <div id="navbar">
            <nav class="nav navbar-nav float-xs-left">
              <%if user_signed_in?%>
                  <a class="nav-item nav-link" href="#">Dashboard</a>
                  <a class="nav-item nav-link" href="#">Settings</a>
                  <a class="nav-item nav-link" href="#">Profile</a>
                  <a class="nav-item nav-link" href="#">Help</a>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-item nav-link" %>
              <%end%>
            </nav>

          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar pull-right">
              <ul class="nav nav-sidebar">
                <%if user_signed_in?%>
                  <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                  <li><a href="/zip_codes">Zip Codes</a></li>
                  <li><%= link_to 'Sources', sources_path%></li>
                  <li><a href="#">Properties Collectors</a></li>
                  <li><%= link_to 'Properties Information', property_links_path %></li>
                  <li><a href="#">Export</a></li>
                <%end%>
              </ul>

            </div>
              <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                  <%= yield %>
              </div>
      </div>
    </div>
  </body>
</html>
