<%= form_for(property_link, :html => {:class => "form-group"}) do |f| %>
  <% if property_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_link.errors.count, "error") %> prohibited this property_link from being saved:</h2>

      <ul>
      <% property_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
  <% end %>
  <%=f.label :property_url %>
  <%=f.text_field :property_url, autofocus:true, class:"form-control"%>
  <%=f.label :address %>
  <%=f.text_field :address, class:"form-control"   %>
  <%=f.label :city %>
  <%=f.text_field :city, class:"form-control"   %>
  <%=f.label :state %>
  <%=f.text_field :state, class:"form-control"   %>
  <%=f.label :country %>
  <%=f.text_field :country, class:"form-control"   %>
  <%=f.label :postal_code %>
  <%=f.text_field :postal_code, class:"form-control"   %>
  <%=f.label :latitude %>
  <%=f.text_field :latitude, class:"form-control"   %>
  <%=f.label :longitude %>
  <%=f.text_field :longitude, class:"form-control"   %>
  <%=f.label :foreclosure_status %>
  <%=f.text_field :foreclosure_status, class:"form-control"   %>
  <%=f.label :price %>
  <%=f.text_field :price, class:"form-control"   %>
  <%=f.label :source %>
  <%=f.text_field :source, class:"form-control custom-select"   %>

  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Back', property_links_path %>
<% end %>
