<p id="notice"><%= notice %></p>

<h1>Property Links</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Property Url</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Postal Code</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>F. Status</th>
      <th>Price</th>
      <th>Source</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_links.each do |property_link| %>
      <tr>
        <td><%= property_link.id %></td>
        <td><%= property_link.property_url %></td>
        <td><%= property_link.address %></td>
        <td><%= property_link.city %></td>
        <td><%= property_link.state %></td>
        <td><%= property_link.country %></td>
        <td><%= property_link.postal_code %></td>
        <td><%= property_link.latitude %></td>
        <td><%= property_link.longitude %></td>
        <td><%= property_link.foreclosure_status %></td>
        <td><%= property_link.price %></td>
        <td><%= property_link.source %></td>
        <td><%= property_link.created_at %></td>
        <td><%= link_to 'Show', property_link %></td>
        <td><%= link_to 'Edit', edit_property_link_path(property_link) %></td>
        <td><%= link_to 'Destroy', property_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Link', new_property_link_path %>
