<p id="notice"><%= notice %></p>
<p>
  Id:
  <%= @property_link.id %>
</p>
<p>
  Property Url:
  <%= @property_link.property_url %>
</p>
<p>
  Address:
  <%= @property_link.address %>
</p>
<p>
  City:
  <%= @property_link.city %>
</p>
<p>
  State:
  <%= @property_link.state %>
</p>
<p>
  Country:
  <%= @property_link.country %>
</p>
<p>
  Postal Code:
  <%= @property_link.postal_code %>
</p>
<p>
  Latitude:
  <%= @property_link.latitude %>
</p>
<p>
  Longitude:
  <%= @property_link.longitude %>
</p>
<p>
  Foreclosure Status:
  <%= @property_link.foreclosure_status %>
</p>
<p>
  Price:
  <%= @property_link.price %>
</p>
<p>
  Source:
  <%= @property_link.source %>
</p>
<p>
  Created At:
  <%= @property_link.created_at %>
</p>

<%= link_to 'Edit', edit_property_link_path(@property_link) %> |
<%= link_to 'Back', property_links_path %>
