<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= form_for(resource, :html => {:class => "form-signin"}, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="form-signin-heading">Log in</h2>
      <label for="user_email" class="sr-only">Email address</label>
      <input type="email" id="user_email" name="user[email]" class="form-control" placeholder="Email address" required autofocus>


      <label for="user_password" class="sr-only">Password</label>
      <input type="password" id="user_password" name="user[password]" class="form-control" placeholder="Password" required>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"> Remember me
        </label>
      </div>
    <% end -%>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>



    <%= render "devise/shared/links" %>
  <% end %>
