<h1>Zip Codes</h1>

<table>
  <thead>
    <tr>
      <th>Zipcode</th>
      <th>City</th>
      <th>County</th>
      <th>State</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zip_codes.each do |zip_code| %>
      <tr>
        <td><%= zip_code.zipcode %></td>
        <td><%= zip_code.city %></td>
        <td><%= zip_code.county %></td>
        <td><%= zip_code.state %></td>
        <td><%= zip_code.country %></td>
        <td><%= zip_code.latitude %></td>
        <td><%= zip_code.longitude %></td>
        <td><%= link_to 'Show', zip_code %></td>
        <td><%= link_to 'Edit', edit_zip_code_path(zip_code) %></td>
        <td><%= link_to 'Destroy', zip_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zip Code', new_zip_code_path %>
