<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @zip_code.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @zip_code.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @zip_code.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @zip_code.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @zip_code.country %>
</p>
<p>
  <strong>latitude:</strong>
  <%= @zip_code.latitude %>
</p>
<p>
  <strong>longitude:</strong>
  <%= @zip_code.longitude %>
</p>

<%= link_to 'Edit', edit_zip_code_path(@zip_code) %> |
<%= link_to 'Back', zip_codes_path %>
