          <h1>Dashboard</h1>

          <div class="row" style="padding-top: 20px;">
            <div class="col-xs-6 col-sm-3">
            <div class="card" >
              <div class="card-block">
                <h4>Collectors</h4>
                <span class="text-muted">Urls Collected: </span>
              </div>

            </div>

            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="card">
                <div class="card-block">
                  <h4>Miners</h4>
                  <span class="text-muted">Properties Mined: </span>
                </div>

              </div>
            </div>

          </div>

          <h2>Properties Summary</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
